*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 1px;
}

.conteiner-nav{
    background-color: #255EE9;
    padding: 20px;
}

.conteiner{
    width: 920px;
    margin: auto;
    display: flex;
}

.piccolo{
    padding-top: 10px;
}

.grande{
    padding: 130px 0px;
}

.navig{
    background-color: #255EE9;
}

.navig ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.link-list{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.link-list-item{
    padding: 0px 0.5rem;
    font-family: "Roboto";
}

.link-list-item a{
    text-decoration: none;
    color: white;
    font-family: "Roboto";
}

.font{
    font-family: "Roboto";
}

.solid-black{
    font-weight:bolder
}

.giallo-element{
    padding: 0.5em;
}

.centrale{
    width: 66%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laterale{
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.destro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.background-color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.blue-cube{
    width: 66.6%;
    height: 398px;
}

.primo{
    background-image: url(../img/item1.svg);
    background-size: cover
}

.secondo{
    background-image: url(../img/item2.svg);
    background-size: cover;
}

.terzo{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

.pink-cube{
    width: 33.3%;
}

.purple-cube{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0px;
}

.green-cube{
    background-color: green;
    height: 800px;
    width: 100%;
    border: 1px dashed black;
}

.grigio{
    background: #F6F6F6
}

.darkgray{
    background-color: darkgray;
}

.pink-cube2{
    background-color: darksalmon;
    height: 600px;
    width: 30.0%;
    border: 1px dashed black;
}

.sky-cube{
    background-color: aquamarine;
    height: 600px;
    width: calc(70%/4);
    border: 1px dashed white;
}

.acqua{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pulsanti{
    margin: 0.5rem 0px;
    border: 1px dashed black;
}

.button-white{
    background-color: white;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 0.5rem 1rem
}

.button-gray{
    background-color: #36393F;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 0.5rem 1rem
}

.big-button{
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

h1{
    margin-bottom: 2rem;
    font-family: "Roboto";
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

.purple-cube h4{
    color: white;
    text-align: center;
    font-family: "Roboto";
    width: 80%;
    font-weight: normal;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

h2{
    padding-top: 30px;
    font-family: "Roboto";
    color: #36393F;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h4{
    font-family: "Roboto";
    color: #36393F;
    line-height: 1.8;

}